.header {
    text-align: center;
    padding: 10px;
    background-color: cadetblue;
    text-shadow: blue;
    text-shadow: 2px 2px 3px #5d5d5d;
    color: antiquewhite;
}

.heading {
    font-size: 20px;
    padding: 10px;
    background-color: beige;
    color: cadetblue;
    margin-top: 10px;
    font-weight: 600;
}

img {
    height: 50px;
}

a {
    color: #646950;
}

a:hover {
    text-decoration: none;
}

.navigation {
    cursor: pointer;
    text-align: center;
    background-color: beige;
}

.active {
    background-color: cadetblue;
    opacity: 0.9;
}

.tab:hover {
    background-color: cadetblue;
    opacity: 0.8;
}

.tab {
    width: 50px;
}

.tab:hover span {
    color: antiquewhite;
}

.active span {
    color: antiquewhite;
}

.content {
    overflow-y: scroll;
    max-height: 60vh;
    animation: fadeEffect 0.3s;
    padding: 10px 40px;
    font-size: 13px;
    background-color: #6ea6a6;
    opacity: 1;
    color: antiquewhite;
}

  
/* Go from zero to full opacity */
@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}


.footer {
    text-align: center;
    margin-top: 10px;
    background-color: cadetblue;
    color: #233035;
}

.modal-btn {
    margin: 5px;
    background-color: #6ea6a6;
    border-color: antiquewhite;
}

.modal-btn:hover {
    background-color: #6ea6a6;
    border-color: #6ea6a6;
    box-shadow: 2px 2px 3px #5d5d5d;
}

.form-bg {
    background-color: beige;
}

@media only screen and (max-width: 576px) {
    .navigation {
        margin: 0px;
    }
    .content {
       max-height: 40vh;
    }
    .header {
        margin: 0px;
    }
    .heading {
        margin-top: 0px;
    }
    a {
        font-size: 13px;
    }
    .tooltip {
        display: none !important;
    }
    .footer {
        margin-top: 0px;
    }
} 

@media only screen and (min-width: 576px) {

    .navigation {
        height: 60vh;
        margin: 0px -10px 0px 10px;
        padding: 0px;
    }
}  
 